{% extends 'master/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <!-- default / right -->
    <div class="row">
        <div class="col-lg-12 col-md-12" id="start">
            <table class="table col-lg-12 col-md-12 table-hover">
                <thead class="thead-dark">
                <tr>
                    <th style="font-size:12px" scope="col">ID</th>
                    <th style="font-size:12px" scope="col"></th>
                    <th style="font-size:12px" scope="col">Tên tập tin</th>
                     <th style="font-size:12px" scope="col"></th>
                    <th style="font-size:12px" scope="col"></th>
                    <th style="font-size:12px" scope="col"></th>
                    <th style="font-size:12px" scope="col">Hành động</th>
                    <th style="font-size:12px" scope="col"></th>
                </tr>
                </thead>
                <tbody id="tbody_bottom">

                </tbody>

            </table>
            <div class="row">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="pagination">
                    </ul>
                </nav>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-end">
                    <button data-toggle="modal" data-target="#myModal"
                            type="button" class="btn btn-primary">Add New Image
                    </button>
                    <div style="width:2px;"></div>
                </div>
            </div>

        </div>

    </div>
</div>
<script>
    $( document ).ready(function() {
      user_id = {{ user.id }}
      AjaxCallStore(1)
    });


</script>
{% include 'master/modal_list.html' %}
{% else %}
    {% include "home/notification.html" %}
{% endif %}

{% endblock %}