{% load static %}

<!-- default / right -->
<div class="col-lg-6 col-md-6 bg-box-right" id="start">
    <div class="col-lg-12">
        <div class="tabs">
            <br>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                       href="#nav-home" role="tab" aria-controls="nav-home"
                       aria-selected="true">Bảng thông tin hóa đơn</a>
                </div>
            </nav>

            <div class="tab-content" style="height:600px;overflow: scroll !important;">
                <div>
                    <table class="table col-lg-12 col-md-12 ">
                        <tbody>
                        <tr>
                            <td>Ngày xuất hóa đơn:</td>
                            <td id="date"></td>
                        </tr>
                        <tr>
                            <td>Số hóa đơn:</td>
                            <td id="bill_code"></td>
                        </tr>
                        <tr>
                            <td>Đơn vị bán hàng:</td>
                            <td id="distributor"></td>
                        </tr>
                        <tr>
                            <td>Tổng thành tiền:</td>
                            <td id="total"></td>
                        </tr>

                        </tbody>
                    </table>

                    <table class="table col-lg-12 col-md-12">
                        <thead class="thead-dark">
                        <tr>
                            <th style="font-size:12px" scope="col">STT</th>
                            <th style="font-size:12px" scope="col"></th>
                            <th style="font-size:12px" scope="col">Tên</th>
                            <th style="font-size:12px" scope="col">Hàng</th>
                            <th style="font-size:12px" scope="col">Hóa</th>
                            <th style="font-size:12px" scope="col"></th>
                            <th style="font-size:12px" scope="col">ĐVT</th>
                            <th style="font-size:12px" scope="col">SL</th>
                            <th style="font-size:12px" scope="col">ĐG</th>
                            <th style="font-size:12px" scope="col">TT</th>
                            <th style="font-size:12px" scope="col">Thuế GTGT</th>
                            <th style="font-size:12px" scope="col">Tiền GTGT</th>
                            <th style="font-size:12px" scope="col">Tổng</th>
                        </tr>
                        </thead>
                        <tbody id="tbody_bottom">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>