<!DOCTYPE html>
{% load static %}
<html lang="en" style="height: 100vh !important;">
<head>
    <meta charset="UTF-8">
    <title>TrieuDo Develop</title>
    <!-- Jquery Min JS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="{% static 'home/assets/js/jquery.min.js' %}"></script>
    {% include 'master/stylesheet.html' %}
</head>
<body style="min-height: 100vh !important;">


{% include 'master/header.html' %}
<!--    <div class="content">-->

<!--    </div>-->
{% block content %}

{% endblock %}
<br>
<br>
<br>
<br>
{% include 'master/modal.html' %}

{% include 'master/utils.html' %}

{% include 'master/footer.html' %}

{% include 'master/javascript.html' %}


</body>
</html>